.productList {
  padding: 1rem;
  width: 100%;
  .products,
  .filterList {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .filterList {
    display: flex;
    flex-direction: column;
    .selection.dropdown {
      margin: 2%;
    }
    @media screen and (min-width: 480px) {
      flex-direction: row;
    }
  }
}
