.coinsBtn button {
  display: flex;
  border-radius: 20px;
  background-color: grey;
  //cursor: pointer;
  color: white;
  padding: 5%;
}

// Override semantic UI buttons
button.ui.button {
  border-radius: 20px;
  .productList & {
    color: black;
    background-color: white;
    width: 80%;
    &:hover {
      background-color: rgb(223, 223, 223);
    }
  }
}

.paginationBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .ui.pagination.menu {
    margin-bottom: 2%;
  }
  @media screen and (min-width: 520px) {
    flex-direction: row;
    margin: 0 10%;
    .ui.pagination.menu {
      margin-bottom: 0;
    }
  }
}
