.coinsBtn button{
  display: flex;
  border-radius: 20px;
  background-color: grey;
  //cursor: pointer;
  color: white;
  padding: 5%;
}

.paginationBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .productList &{
    width: 75vw;
  }
}