.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;

  background-color: white;
  box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);

  @media screen and (min-width: 425px) {
    flex-direction: row;
  }
  .topMenu {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    @media screen and (min-width: 425px) {
      flex-direction: row;
      margin-top: 0px;
    }
  }
  .user-coins-add {
    display: flex;
    margin-top: 5px;
    @media screen and (min-width: 425px) {
      margin-top: 0px;
    }
  }
  .nameCoins {
    display: flex;
    align-items: center;
  }
  .coinsBtn {
    margin-left: 10px;
  }
}

.heroImage {
  display: block;
  margin: 145px auto 0;
  width: 90%;
  max-height: 50vh;
  @media screen and (min-width: 425px) {
    margin-top: 70px;
  }
}
